# Build files
/public/js
/public/css/main.css
/prod

# JavaScript artifacts
node_modules

# ClojureScript artifacts
.calva
.shadow-cljs
.clj-kondo/*
!.clj-kondo/config.edn
.lsp

# macOS artifacts
.DS_Store